<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- CSS de Bootstrap -->
        <!--         
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous"> 
        -->
        
        <link rel="stylesheet" href="/css/materialize.min.css">
        <link rel="stylesheet"  href="/css/datatables.min.css">
        <title><%= title %></title>
    </head>
    <body>

        <nav>
            <div class="nav-wrapper black">
              <a href="/actividades" class="brand-logo"><i class=" material-icons">menu</i>JURASSIC PARK INCIDENTS</a>
              <ul class="right hide-on-med-and-down">
                
                
              </ul>
            </div>
        </nav>  