<div class="container">
    <h3>NUMEROS DE CASOS POR INCIDENTE</h3>
      <table class="responsive-table centered" style="width:100%" >
        <thead>
          <tr> 
            <th>Infección</th>
            <th>Desorientación</th>
            <th>Violencia</th>
            <th>Desmayo</th>
            <th>Transformacion</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <td><%= totalInfeccion %></td>
            <td><%= totalDesorientacion %></td>
            <td><%= totalViolencia %></td>
            <td><%= totalDesmayo%></td>
            <td><%= totalTransformacion %></td>
           
          </tr>


      
          
        </tbody>
    </table> 
    
      
    
    </div>