<div class="container">
  <h3>REGISTRO DE INCIDENTES</h3>
    <table id="historial" class="display " style="width:100%" >
      <thead>
        <tr> 
          <th>id incidente</th>
          <th>TIPO DE INCIDENTE</th>
          <th>LUGAR</th>
          <th>Dia y Hora de Registro</th>
          
         
          
        </tr>
      </thead>
      <tbody>
        <%  for(let incidente of incidentes ){  %>
        <tr>
          <td><%= incidente.id_incidente %></td>
          <td><%= incidente.tipo_incidente %></td>
          <td><%= incidente.nombre_lugar %></td>
          <td><%= incidente.fecha %></td>
          
          
        </tr>

      
        
        <% } %>
        
      </tbody>
  
  </table> 
  
    
  
  </div>