<%- include('partials/head.ejs') %>
    <div class="titulo">
        <div class="container">
            <div class="row ">
        
                  
                
            </div>
            <div class="row ">
             
               <div class="col s12 m6 l4">
                <div class="card z-depth-5 blue hoverable white-text center tooltipped" data-position="right" data-tooltip="REGISTRAR INCIDENTE">
                   <a href="/actividades/nuevo_registro" class="white-text"><h3>REGISTRAR NUEVO INCIDENTE</h3></a> 
                </div>
              </div>
        
                <div class="card-panel red white-text right">
                    <h4 class="center">INCIDENTES JURASSIC PARK:</h4>
                    <h4 class="center"><%- totalIncidentes %></h4>
                </div>
                
            </div>
        
        </div>
        

    </div>
    


 
   








<div class="divider"></div>
<%- include('partials/table.ejs') %>
<style>
   .titulo{ background-image: url('https://imagenes.milenio.com/knH2Ae8UnLbzgvTd99GuGt43nIU=/958x596/https://www.milenio.com/uploads/media/2020/06/26/jurassic-world-especial_207_0_1195_742.jpg');}

</style>


<%- include('partials/footer.ejs') %>